.mainContainer-header {
  width: 100%;
  height: 56px;
  position: relative;
  overflow: hidden;
  border-radius: 16px 16px 0px 0px;
  background-color: #6067f9;
}

.cloudsAnimationHeader {
  z-index: 2;
  position: relative;
  top: 14px;
  right: 100%;
  width: 1525px;
  height: 56px;
  margin: auto;
  border-radius: 4px;
  animation: slide 16s linear infinite;
}
@keyframes slide {
  0% {
    right: 99%;
  }
  100% {
    right: 3%;
  }
}

.starsAnimationHeader {
  position: absolute;
  width: 100%;
  z-index: 1;
  background-color: none;
  height: 56px;
  margin: auto;
  animation: fade-in-out 4s ease-in-out infinite;
}

@keyframes fade-in-out {
  0% {
    opacity: 10%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 10%;
  }
}

.logoContainer {
  z-index: 3;
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.header-logo {
  width: 98px;
  height: 24px;
}
.closeButton {
  width: 24px;
  height: 24px;
}
