.mainContainer-header {
  width: 100%;
  max-width: 720px;
  height: 56px;
  position: relative;
  overflow: hidden;
  border-radius: 16px 16px 0px 0px;
  background-color: #6067f9;
}

@media (max-width: 1080px) and (min-width: 960px) {
  .mainContainer-header {
    max-width: 868px;
  }
}

@media (max-width: 960px) and (min-width: 640px) {
  .mainContainer-header {
    max-width: 540px;
  }
}

@media (max-width: 640px) {
  .mainContainer-header {
    width: 100%;
  }
}

.cloudsAnimationHeader {
  z-index: 2;
  position: relative;
  right: 100%;
  background-image: url('../../static/svg/Clouds.svg');
  background-repeat: no-repeat;
  background-position: top;
  background-position-y: -14px;
  width: 1525px;
  height: 56px;
  margin: auto;
  border-radius: 4px;
  animation: slide 16s linear infinite;
}
@keyframes slide {
  0% {
    right: 99%;
  }
  100% {
    right: 3%;
  }
}

.starsAnimationHeader {
  position: absolute;
  width: 100%;
  z-index: 1;
  background-color: none;
  height: 56px;
  background-image: url('../../static/svg/Stars.svg');
  background-repeat: no-repeat;
  background-position: top;
  margin: auto;
  animation: fade-in-out 4s ease-in-out infinite;
}

@keyframes fade-in-out {
  0% {
    opacity: 10%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 10%;
  }
}

.logoContainer {
  z-index: 3;
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.header-logo {
  width: 98px;
  height: 24px;
}
.closeButton {
  width: 24px;
  height: 24px;
}
