.nc_mobileMainWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--nc-color-elements-2);
}

.nc_mobileMainTopBar {
  padding: 16px;
  padding-bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--nc-font-size-4);
}

.nc_mobileMainTopBarText {
  color: var(--nc-color-elements-7);
}

.nc_mobileMainTopBarQrButton {
  color: var(--nc-color-primary);
  height: 30px;
  background: var(--nc-color-primary-a25);
  border-radius: 4px;
  padding-inline: 8px;
}

.nc_mobileMainWalletsList {
  display: grid;
  padding: 16px;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
}

.nc_mobileMainShowAllButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: var(--nc-font-size-2);
  font-weight: 700;
  color: var(--nc-color-elements-8);
}

.nc_mobileMainShowAllButtonIconsGrid {
  display: grid;
  padding-bottom: 8px;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 24px;
  justify-items: center;
  align-items: center;
  gap: 4px;
  width: 64px;
  height: 64px;
}

.nc_mobileMainShowAllButtonIcon {
  width: 24px;
  height: 24px;
}

@media (max-width: 482px) {
  .nc_mobileMainWalletsList {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 374px) {
  .nc_mobileMainWalletsList {
    grid-template-columns: repeat(3, 1fr);
  }
}

