.nc_modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: 100ms ease-out 0s 1 fadeIn normal forwards;
  z-index: 100;
  background-color: var(--nc-color-overlay);
  backdrop-filter: blur(10px);
  animation-duration: 0.3s;
}

.nc_modalWrapper {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 720px;
  display: flex;
  flex-direction: column;
  animation: fadeInBottom 0.5s;
}

.nc_modalContent {
  border-radius: 0px 0px 16px 16px;
  overflow: hidden;
  background-color: var(--nc-color-elements-2);
  border: 1px solid var(--nc-color-elements-4);
  border-top: none;
  transition: height 250ms;
}

.nc_modalClosingAnimation {
  position: absolute;
  top: 50%;
  left: 50%;
  animation: .5s ease-out 0s 1 fadeOut normal forwards;
  max-height: 90%;
}

.nc_modalViewEntryTransition {
  animation: 300ms ease-out 0s 1 viewsFadeIn normal forwards;
}

@media (max-width: 1080px) {
  .nc_modalWrapper {
    width: 636px;
  }
}

@media (max-width: 960px) {
  .nc_modalWrapper {
    width: 540px;
  }
}

@media (max-width: 640px) {
  .nc_modalOverlay {
    animation: 250ms ease-out 0s 1 fadeInMobile normal forwards;
    background-color: transparent;
    backdrop-filter: blur(0);
  }

  .nc_modalWrapper {
    top: 41em;
    left: unset;
    bottom: -20px;
    width: 100%;
    transform-origin: 0px 100%;
    animation: 250ms ease-out 0s 1 normal forwards running slideIn;
  }

  .nc_modalContent {
    top: -20px;
    position: relative;
    border-radius: 16px 16px 0px 0px;
  }

  .nc_modalClosingAnimation {
    animation: 250ms ease-out 0s 1 fadeOutMobile normal forwards;
  }

  .nc_modalMobileSlideOutAnimation {
    animation: 250ms ease-out 0s 1 slideOut normal forwards;
  }
}

@keyframes fadeInBottom {
  from {
    opacity: 0;
    transform: translateX(-50%) translateY(-45%);
 }
 to {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%);
 }
}

@keyframes fadeOutBottom {
  from {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%);
 }
 to {
    opacity: 0;
    transform: translateX(-50%) translateY(-45%);
 }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
      transform: translateX(-50%) translateY(-50%);
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) translateY(-45%);
  }
}

@keyframes fadeInMobile {
  0% {
    background-color: transparent;
    backdrop-filter: blur(0);
  }
  100% {
    background-color: var(--nc-color-overlay);
    backdrop-filter: blur(10px);
  }
}

@keyframes fadeOutMobile {
  0% {
    background-color: var(--nc-color-overlay);
    backdrop-filter: blur(10px);
  }
  100% {
    background-color: transparent;
    backdrop-filter: blur(0);
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideOut {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

@keyframes viewsFadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}