.nc_modalOverlay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  animation: 100ms ease-out 0s 1 fadeIn normal forwards;
  z-index: 100;
  background-color: var(--nc-color-overlay);
  backdrop-filter: blur(10px);
}

.nc_modalWrapper {
  width: 720px;
  display: flex;
  flex-direction: column;
  opacity: 0;
  animation: 250ms ease-out 200ms 1 slideIn normal forwards;
}

.nc_modalContent {
  border-radius: 0px 0px 16px 16px;
  overflow: hidden;
  background-color: var(--nc-color-elements-2);
  border: 1px solid var(--nc-color-elements-4);
  border-top: none;
  transition: height 250ms;
  z-index: 2;
}

.nc_modalClosingAnimation {
  animation: 100ms ease-out 0s 1 fadeOut normal forwards;
}

.nc_modalViewEntryTransition {
  animation: 300ms ease-out 0s 1 viewsFadeIn normal forwards;
}

.nc_modalSlideOutAnimation {
  animation: 250ms ease-out 0s 1 slideOut normal forwards;
}

@media (max-width: 1080px) {
  .nc_modalWrapper {
    width: 636px;
  }
}

@media (max-width: 960px) {
  .nc_modalWrapper {
    width: 540px;
  }
}

@media (max-width: 640px) {
  .nc_modalOverlay {
    animation: 250ms ease-out 0s 1 fadeInMobile normal forwards;
    background-color: transparent;
    backdrop-filter: blur(0);
  }

  .nc_modalWrapper {
    align-self: flex-end;
    width: 100%;
    transform-origin: 0 100%;
    animation: 250ms ease-out 200ms 1 slideInMobile normal forwards;
  }

  .nc_modalClosingAnimation {
    animation: 250ms ease-out 0s 1 fadeOutMobile normal forwards;
  }

  .nc_modalSlideOutAnimation {
    animation: 250ms ease-out 0s 1 slideOutMobile normal forwards;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeInMobile {
  0% {
    background-color: transparent;
    backdrop-filter: blur(0);
  }
  100% {
    background-color: var(--nc-color-overlay);
    backdrop-filter: blur(10px);
  }
}

@keyframes fadeOutMobile {
  0% {
    background-color: var(--nc-color-overlay);
    backdrop-filter: blur(10px);
  }
  100% {
    background-color: transparent;
    backdrop-filter: blur(0);
  }
}

@keyframes slideInMobile {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideOutMobile {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(100%);
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  50% {
    opacity: 0.5;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(50px);
  }
}

@keyframes viewsFadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}