.nc_walletButton {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
  width: 80px;
  padding: 4px 0px;
  height: 108px;
  background-color: transparent;
}

.nc_walletButton:hover {
  background-color: var(--nc-color-elements-5);
}

.nc_walletButtonIcon {
  margin-bottom: 6px;
  width: 64px;
  height: 64px;
}

.nc_walletButtonName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  font-weight: bold;
  font-size: var(--nc-font-size-3);
  letter-spacing: 0.28px;
  color: var(--nc-color-elements-8);
  flex-shrink: 0;
}

.nc_walletButtonStatus {
  font-size: var(--nc-font-size-1);
  line-height: 13px;
  color: var(--nc-color-primary);
  margin-top: -2px;
}
