.walletSelectorItem {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
  width: 80px;
  padding: 4px 0px;
  height: 108px;
  background-color: transparent;
}

.walletSelectorItem img {
  margin-bottom: 6px;
  width: 64px;
  height: 64px;
}

.walletSelectorItem:hover {
  background-color: #47486a;
}

.walletSelectorName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.28px;
  color: #ffffff;
  flex-shrink: 0;
}

.walletSelectorInfo {
  font-weight: normal;
  font-size: 10px;
  line-height: 13px;
  letter-spacing: 0.28px;
  color: #6067f9;
  margin-top: -2px;
}
