.nc_desktopMainWrapper {
  max-width: 720px;
  height: 464px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.nc_desktopMainQrWrapper {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  background-color: var(--nc-color-elements-2);
  position: relative;
}

.nc_desktopMainQrTopBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 24px;
  margin-bottom: 10px;
  font-size: var(--nc-font-size-4);
}

.nc_desktopMainQrScanInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--nc-color-elements-6);
}

.nc_desktopMainQrScanInfoIcon {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  background-image: var(--nc-img-scan);
}

.nc_desktopMainQrCopyInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--nc-color-primary);
  cursor: pointer;
}

.nc_desktopMainQrCopyInfoIcon {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  background-image: var(--nc-img-copy);
}

.nc_desktopMainQrCopyInfo:hover {
  filter: brightness(1.5);
}

.nc_desktopMainQrCode {
  border-radius: 20px;
  border: 1px solid var(--nc-color-elements-4);
  width: 400px;
  height: 400px;
}

.nc_desktopQrLoaderOverlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--nc-color-elements-2);
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.nc_desktopQrLoader {
  width: 120px;
}

.nc_desktopQrLoaderLabel {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--nc-color-elements-6);
}

.nc_desktopQrLoadedOverlayFadeOut {
  animation: fade_out_loader 250ms ease-out forwards;
}

@media (max-width: 1080px) {
  .nc_desktopMainWrapper {
    max-width: 636px;
  }
}

@media (max-width: 960px) {
  .nc_desktopMainWrapper {
    max-width: 540px;
    height: 368px;
  }

  .nc_desktopMainQrCode {
    width: 304px;
    height: 304px;
  }
}

@keyframes fade_out_loader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
