.selectorView {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
}

.selectorWrapper {
  transition: height 380ms;
}

.topView {
  height: 182px;
}

.qrView {
  height: 510px;
}

@media (max-width: 482px) and (min-width: 374px) {
  .qrView {
    height: 420px;
  }
}

@media (max-width: 373px) {
  .qrView {
    height: 332px;
  }
}

.walletsView {
  height: 526px;
}
