.nightly-headerContainer {
  width: 100%;
}

.NotFoundContainer {
  top: -20px;
  position: relative;
  z-index: 2;
  width: 100%;
  height: 526px;
  background-color: #17182b;
  border-radius: 16px 16px 0px 0px;
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.NotFoundHeading {
  padding-top: 16px;
  color: #f7f7f7;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.02em;
}

.NotFoundInfo {
  padding-top: 4px;
  width: 171px;
  color: #707a8d;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.NotFoundGif {
  width: 104px;
  height: 216px;
}

.walletInputSearchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px 16px 8px 16px;
  padding: 8px;
  width: 100%;
  height: 32px;
  background-color: #0f0f1a;
  border-radius: 8px;
}

.inputContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.walletInputSearchContainer img {
  width: 20px;
  height: 20px;
}

.walletInputSearch {
  background-color: #0f0f1a;
  color: #707a8d;
  font-size: 12px;
  font-weight: 400;
  width: 99%;
  line-height: 22px;
  letter-spacing: 0.02em;
  border: 0;
}

.walletInputSearch:focus {
  outline: none;
}
@keyframes fadeOutScale {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.02);
  }
}

@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.99);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.router-element {
  animation-name: fadeOutScale;
  animation-duration: 0.15s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
}

.router-element-view {
  opacity: 0;
  animation-name: fadeInScale;
  animation-duration: 0.37s;
  animation-delay: 0.05s;
  animation-fill-mode: forwards;
}
