@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  --nc-font-family: Prompt;

  font-family: var(--nc-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
}