.nc_connectWrapper {
  height: 464px;
  width: 100%;
  background-color: var(--nc-color-elements-3);
  display: flex;
  flex-direction: column;
}

.nc_connectTopBar {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nc_connectBackButton {
  height: 32px;
  width: 32px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: var(--nc-img-back);
}

.nc_connectTitle {
  font-size: var(--nc-font-size-4);
  color: var(--nc-color-elements-7);
}

.nc_connectTopJustify {
  width: 32px;
}

.nc_connectWalletInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 16px;
  margin-bottom: 36px;
}

.nc_connectWalletIcon {
  width: 144px;
  height: 144px;
}

.nc_connectWalletName {
  font-weight: 600;
  font-size: var(--nc-font-size-5);
  color: var(--nc-color-elements-8);
  margin-top: 14px;
}

.nc_connectProgress {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--nc-color-elements-6);
  font-size: var(--nc-font-size-4);
  gap: 8px;
}

.nc_connectProgressLoader {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid;
  border-color: transparent;
  border-right-color: var(--nc-color-elements-8);
  animation: spin 1s infinite linear;
}

.nc_connectFail {
  color: var(--nc-color-error);
  font-size: var(--nc-font-size-4);
}

.nc_connectBottomInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--nc-color-elements-2);
  flex: 1;
}

.nc_connectBottomInfoText {
  color: var(--nc-color-elements-6);
  text-align: center;
  padding: 16px;
}

.nc_connectWalletLink {
  color: var(--nc-color-primary);
}

.nc_connectTryAgainButton {
  width: 162px;
  height: 32px;
  background: var(--nc-color-elements-4);
  color: var(--nc-color-elements-7);
  border-radius: 8px;
  margin-right: 16px;
}

.nc_connectDownloadAppButton {
  width: 162px;
  height: 32px;
  background: var(--nc-color-primary);
  color: var(--nc-color-elements-7);
  border-radius: 8px;
}

.nc_connectBottomButtonsContainer {
  align-items: center;
  display: flex;
  font-size: var(--nc-font-size-3);
}

@media (max-width: 960px) {
  .nc_connectWrapper {
    height: 368px;
  }

  .nc_connectWalletInfo {
    padding-top: 4px;
    margin-bottom: 16px;
  }

  .nc_connectWalletIcon {
    width: 72px;
    height: 72px;
  }
}

@media (max-width: 640px) {
  .nc_connectWalletIcon {
    width: 104px;
    height: 104px;
  }
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}
