.mainContainer {
  max-width: 720px;
  height: 464px;
}

.code {
  border-radius: 20px;
  border: 1px solid #343551;
  width: 400px;
  height: 400px;
}

.bottomContainer {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

@media (max-width: 960px) {
  .mainContainer {
    height: 368px;
  }

  .code {
    width: 304px;
    height: 304px;
  }
}

@media (max-width: 1080px) and (min-width: 960px) {
  .mainContainer {
    max-width: 636px;
  }
}

@media (max-width: 960px) {
  .mainContainer {
    max-width: 540px;
  }
}

.scan {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #707a8d;
  letter-spacing: 0.32px;
  font-size: 16px;
}

.scanImg {
  margin-right: 4px;
}

.copy {
  display: flex;
  flex-direction: row;
  align-items: center;
  letter-spacing: 0.32px;
  font-size: 16px;
  color: #6067f9;
  cursor: pointer;
}

.copyImg {
  margin-right: 4px;
}

.copy:hover {
  filter: brightness(1.5);
}

.qrTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 24px;
  margin-bottom: 10px;
}

.qrContainer {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  background-color: #17182b;
}
