.nc_mobileAllWalletsWrapper {
  display: flex;
  flex-direction: column;
  z-index: 2;
  background-color: var(--nc-color-elements-2);
  width: 100%;
  height: 526px;
}

.nc_mobileAllWalletsTopBar {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nc_mobileAllWalletsBackButton {
  height: 32px;
  width: 32px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: var(--nc-img-back);
}

.nc_mobileAllWalletsTitle {
  font-size: var(--nc-font-size-4);
  color: var(--nc-color-elements-7);
}

.nc_mobileAllWalletsTopJustify {
  width: 32px;
}

.nc_mobileAllWalletsSearchBar {
  width: 100%;
  position: relative;
  padding-inline: 16px;
}

.nc_mobileAllWalletsSearchBar:after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 0;
  height: 20px;
  background: linear-gradient(180deg, var(--nc-color-elements-2) 12.37%, transparent 100%);
  opacity: 1;
  pointer-events: none;
  z-index: 1;
  width: 100%;
}

.nc_mobileAllWalletsInputWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  width: 100%;
  height: 40px;
  background-color: var(--nc-color-elements-1);
  border-radius: 8px;
}

.nc_mobileAllWalletsInnerInput {
  background-color: var(--nc-color-elements-1);
  color: var(--nc-color-elements-6);
  font-size: var(--nc-font-size-3);
  width: 99%;
  border: 0;
  opacity: 0.7;
  margin-bottom: -2px;
}

.nc_mobileAllWalletsInnerInput:focus {
  outline: none;
}

.nc_mobileAllWalletsInputIcon {
  width: 20px;
  height: 20px;
  margin-bottom: -2px;
  background-image: var(--nc-img-search);
}

.nc_mobileAllWalletsListGrid {
  width: 100%;
  padding: 16px 16px 0 16px;
  display: grid;
  overflow-y: auto;
  justify-items: center;
  scrollbar-width: none;
  -ms-overflow-style: none;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 4px;
}

.nc_mobileAllWalletsListGrid::after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 32px;
  background: linear-gradient(180deg, transparent 0%, var(--nc-color-elements-1) 100%);
  opacity: 0.7;
  pointer-events: none;
  z-index: 1;
  width: 100%;
}

.nc_mobileAllWalletsListGrid::-webkit-scrollbar {
  display: none;
}

.nc_mobileAllWalletsEmptyListWrapper {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nc_mobileAllWalletsEmptyListImage {
  width: 104px;
  height: 216px;
}

.nc_mobileAllWalletsEmptyListHeading {
  margin-top: 16px;
  color: var(--nc-color-elements-7);
  font-weight: 700;
  font-size: var(--nc-font-size-4);
}

.nc_mobileAllWalletsEmptyListDesc {
  margin-top: 4px;
  width: 171px;
  color: var(--nc-color-elements-6);
  text-align: center;
  font-size: var(--nc-font-size-2);
}

@media (max-width: 482px) {
  .nc_mobileAllWalletsListGrid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 374px) {
  .nc_mobileAllWalletsListGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}
