name: connect-docs-production

on:
  push:
    branches:
      - main
    paths:
      - 'sdk/apps/docs/**'

jobs:
  upload:
    runs-on: [testing]
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Deploy to Vercel Action
        id: vercel-deploy
        uses: BetaHuhn/deploy-to-vercel-action@v1
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
          VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
          VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PREVIEW_NIGHTLY_CONNECT_DOCS }}
          VERCEL_SCOPE: ${{ secrets.VERCEL_ORG_ID }}
          PRODUCTION: true
